<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="mystyle.css">

<body>
    <div class="header">
        <h1>Smartup</h1>
        <p>Welcome to Smartup! Give us an idea for a kickstarter project, and we'll give you some stats on others like it.</p>
      </div> 
    <form action = "http://localhost:5000/result" method = "POST">
        <p>Tell us your idea! <input type = "text" name = "input" size="75" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
</body>
</html> 
</head>
